<div class="math-problem">
  <h2>Multiplication Facts</h2>

  <p>
    Presents multiplication facts and their answers quickly. Try to get the right answer before it appears!
  </p>

  <div class="settings">
    <div class="factor">
      <h3>Select a Factor:</h3>
      <p><mat-slide-toggle [(ngModel)]="mixAndMatch"></mat-slide-toggle> Mix &amp; Match 🤪</p>
      <app-decimal-grid [values]="firstFactorValues" [highlightIndices]="getHighlightIndices()" (indexClick)="factorSelected($event)"></app-decimal-grid>
    </div>
    <mat-form-field>
      <mat-label>Speed (1-10)</mat-label>
      <input [ngModel]="speed | async" matInput type="number" min="1" max="10" [disabled]="running | async" (ngModelChange)="speed.next($event)" />
      <button matSuffix mat-raised-button color="primary" (click)="toggleRunning()">{{ (running | async) ? 'Stop' : 'Start' }}</button>
    </mat-form-field>

  </div>

  <div class="problem-text" *ngIf="running | async">
    {{ factor1 }} × {{ factor2 }} =

    <span *ngIf="productVisible" class="answer">{{ product }}</span>
  </div>
</div>
