@use '~@angular/material' as mat;
@import '../../_variables';

@mixin mix-app-theme($app-theme) {
  $primary: map-get($app-theme, primary);
  $accent: map-get($app-theme, accent);

  .decimal-grid td {
    border: 1px solid mat.get-color-from-palette($primary);

    &.highlight {
      background-color: mat.get-color-from-palette($accent);
    }
  }
}

// Include the mixin
@include mix-app-theme($app-theme);

.decimal-grid {
  border-collapse: collapse;
}

.decimal-grid td {
  font-size: 1.8rem;
  width: 1.6em;
  height: 1.6em;
  padding: 0.2em;

  text-align: center;
  vertical-align: middle;

  cursor: pointer;
  user-select: none;
}
