<table class="decimal-grid">
  <tr>
    <td (click)="onClick(0)">{{ values[0] || '&nbsp;' }}</td>
    <td (click)="onClick(1)">{{ values[1] || '&nbsp;' }}</td>
    <td (click)="onClick(2)">{{ values[2] || '&nbsp;' }}</td>
    <td (click)="onClick(3)">{{ values[3] || '&nbsp;' }}</td>
    <td (click)="onClick(4)">{{ values[4] || '&nbsp;' }}</td>
  </tr>
  <tr>
    <td (click)="onClick(5)">{{ values[5] || '&nbsp;' }}</td>
    <td (click)="onClick(6)">{{ values[6] || '&nbsp;' }}</td>
    <td (click)="onClick(7)">{{ values[7] || '&nbsp;' }}</td>
    <td (click)="onClick(8)">{{ values[8] || '&nbsp;' }}</td>
    <td (click)="onClick(9)">{{ values[9] || '&nbsp;' }}</td>
  </tr>
</table>
