@use '~@angular/material' as mat;
@import '../../_variables';

.problem-text {
  display: inline-block;

  font-size: 1.8rem;
  border-radius: 0.2rem;
  padding: 0.5rem;
  margin-right: 2rem;

  border: 1px solid mat.get-color-from-palette($app-accent);
}

.buttons button {
  margin-right: 1rem;
}
